﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        
        @RenderBody()

    </div>
    @RenderSection("scripts", false)
</body>
</html>
