﻿@using RequireJsTest.WebApp.Models.Home

@model PersonViewModel

@{
    ViewBag.Title = "Form Page";
}

@section scripts {
    <script>
        require(["jquery.validate.unobtrusive"]);
    </script>
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        @using (Html.BeginForm("Form", "Home", FormMethod.Post, new { role = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        }
    </div>
</div>
