﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script>
        require(["bootstrap", "Home/Index"], function (bootstrap, home) {
            home({
                name: "Simon",
                rootNode: document.getElementById("message")
            });
        });
    </script>
}

<div class="row">
    <div class="col-xs-12">
        <div id="message" class="alert alert-info alert-dismissable fade" data-bind="css: { in: IsVisible }">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <i class="glyphicon glyphicon-info-sign"></i>
            <strong>Notice!</strong>
            <span data-bind="text: Message"></span>
        </div>
    </div>
</div>
